.overall {
    display: flex;
    justify-content: center;
    width: 1020px;
    margin: auto;
    float: left;
}

header {
    width: 1020px;
    text-align: left;
    margin: auto;
}

h1 {
    text-align: left;
    font-size: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px, 3px;
    color: black;
}

.title {
    animation-duration: 2s;
    animation-name: mymove;
}

@keyframes mymove {
    0% {
        width: 100%;
        margin-right: 0%;    
    }
    100% {
        width: 100%;
        margin-right: 100%; 
    }
}

.imgbox {
    width: 350px;
    height: 350px;
    border: solid 3px gray;
    margin-right: 5px;
    padding : 3px;
    display: flex;
 }

 .imgchange {
    width: 50px;
    height: 50px;
    transition: width 2s, height 2s;
}
        
.imgchange:hover {
    width: 100%;
    height: 100%;
}
.text {
    text-align: left;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    background-color: white;
    padding: 20px;
    border: 2px solid #4CAF50;
    width: 50px;
    height: 20px;
    font-size: 8px;
}
        
.info {
    column-count: 3;
    column-gap: 50px;
    column-width: 200px;
    column-rule-style: solid;
    column-rule-width: 1px;
}